/* .add_button {
    transition: 0.5s;
    transition-delay: 0.1s;
}

.add_button:hover {
    
    rotate: 90deg;
} */

.btn_container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.add_button, .search_button, .me_button{
    background: transparent; 
    height: 30px;
    border-radius: 100%;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    outline: none;
    border: none;
}

.add_button:focus, .search_button:focus, .me_button:focus{
    outline: none;
    
}

.add_button:hover, .search_button:hover, .me_button:hover{
    box-shadow: 0 0 10px var(--shadow);
    transform: scale(1.05);
}

