.main {
    display: flex;
    width: 100%;
}

.main form * {
    flex: 1 1 0;
}

.main form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.main form input[type='submit'] {
    width: 20%;
    min-width: fit-content;
    max-width: 30px;
    padding: 7px;
    border: none;
    color: black;
}

.main input {
    background-color: #F0F2F5;
    color: black;
    border: 2px black solid;
    border-radius: 10px;
}

.main input[type='text'] {
    font-size: 1rem;
    padding: 5px;
}