.main {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
    background-color: #F2F4F7;
    color: black;
}

.overview_panel {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: fit-content;
    gap: 20px;
}

.users_panel, .posts_panel, .comments_panel {
    box-sizing: border-box;
    border: 1px black solid;
    height: 100%;
    flex: 1 1 400px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 700px;
    background-color: #FEFEFE;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.users_panel::-webkit-scrollbar, 
.posts_panel::-webkit-scrollbar, 
.comments_panel::-webkit-scrollbar,
.reports_panel::-webkit-scrollbar {
    display: none;
}

.users_panel,
.posts_panel,
.comments_panel,
.reports_panel {
    padding: 10px;
}

.users_panel *,
.posts_panel *,
.comments_panel *,
.reports_panel * {
    margin: 1px;
}

.user {
    display: flex;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
    transition: 0.2s;
}

.user:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.user .h4, .user p {
    flex: 1 1 0;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 2px;
}

.post, .comment {
    padding: 2px;
    gap: 10px;
    transition: 0.2s;
}

.post:hover, .comment:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.reports_panel {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    border: 1px black solid;
}

.report {
    display: flex;
}

.report .report_summary,
.report .buttons {
    flex: 1 1 0;
}

.report .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.report .buttons button {
    width: 70px;
    font-size: 0.75rem;
    text-align: center;
    padding: 5px;
    margin: 5px;
}