.header_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    gap: 10px;
}

.header_text img {
    width: 25px;
    opacity: 50%;
}

.header_text h3, .header_text p {
    margin: 0;
}

.header_text p {
    font-size: 0.7rem;
}

.header_text h3{
    font-size: 1rem;
}

.texts {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(0,0,0,0.5);
}