.maine_mendoza {
    position: relative;
    place-items: center;
    background-color: #F2F4F7;
    width: 100vw;
    height: 100vh;
}

.main {
    padding: 90px 20px 20px 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.summary {
    width: 100%;
    height: 120px;
    color: #DE9B9B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.summary_sub_containers {
    flex: 1;
    max-width: 20%;
    height: 90%;
    border: 1px #dfbebeaa solid;
    border-radius: 10px;
    background-color: #dfbebebf;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.2s;
}

.summary_sub_containers:hover {
    transform: scale(1.025);
}

.summary_sub_containers * {
    margin: 0;
}

.summary_sub_containers h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    filter: drop-shadow(0 3px 1px rgba(0,0,0,0.25));
}

.summary_overview {
    width: 100%;
    height: fit-content;
    min-height: 100px;
    max-height: 75%;
    border: 1px #dfbebeaa solid;
    border-radius: 10px;
    overflow: scroll;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.summary_overview::-webkit-scrollbar {
    display: none;
}

.columns {
    width: 100%;
    height: 50px;
    background-color: #DFBEBE;
    display: flex;
    align-items: center;
}

.labels {
    flex: 1 1 0;
    padding-left: 10px;
}

.default_label {
    flex: 1 1 0;
    text-align: center;
}

.user, 
.post,
.comment,
.report {
    display: flex;
    width: 100%;
    align-items: center;
}

.user *, 
.post *,
.comment * ,
.report *:not(.buttons) {
    flex: 1 1 0;
    color: black;
    padding: 5px;
}

.report_summary {
    display: flex;

}

.report_summary * {
    flex: 1 1 0;
}

.buttons {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons .view_btn {
    background-color: #78cb67;
}

.buttons .remove_btn {
    background-color: #ef233c;
}