.main, .maine_mendoza {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.maine_mendoza {
    padding-top: 60px;
}

.connection_count {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.upper_section {
    display: flex;
    gap: 20px;
}

.user {
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}