.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.connection_count {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.upper_section {
    display: flex;
    gap: 20px;
}