.main {
    height: 100vh;
    width: 100vw;
}

.main * {
    box-sizing: border-box;
    user-select: none;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.content h1 {
    margin: 5px;
}
.content h4 {
    font-weight: 400;
    margin: 5px;
}

.identity {
    filter: blur(2px);
    transition: 0.2s;
}

.identity:hover {
    filter: blur(0px);
    color: var(--shadow);
    text-decoration: line-through;
}

.links {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.links * {
    transition: 0.2s;
}

.links *:hover {
    transform: scale(1.025);
}

.right_panel, .left_panel {
    height: 100%;
    width: 49%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left_panel {
    align-items: start;
}

.right_panel {
    align-items: center;
    justify-content: center;
}

.right_panel img {
    height: 40%;
    max-height: 400px;
}

.about {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    position: relative;
    height: 70%;
    max-height: 600px;
    width: 25%;
    max-width: 500px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover + .card {
    transform:  scale(1.025);
}

.card:has(+*.card:hover) {
    transform:  scale(1.025);
}

.card img {
    width: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
    perspective: 10px;
    transition: 0.2s;
}

.card img:hover {
    filter: drop-shadow(0 3px 1px var(--shadow));
}

.share {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.share h1 {
    font-size: 2.5rem;
    margin: 5px;
}

.share h4 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
}

footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .icons {
    height: 30px;
    width: 20%;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
}

footer .icons img {
    height: 100%;
}

footer .logos {
    height: 120px;
    position: relative;
    width: fit-content;
    display: flex;
    align-items: end;
}

footer .logos img{
    position: absolute;
    top: 0;
    left: -4px;
    height: 90%;
    margin: 0;
}

