* {
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    color: black;
}

.login_panel {
    width: 50%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container {
    border: 1px black solid;
    border-radius: 10px;
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #DFBEBE;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.login_container h1 {
    margin: 10px;
    font-size: 2rem;
}

.login_container div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_container .login_h1 {
    flex: 1 1 0;
}

.login_container .register_link {
    flex: 1 1 0;
}

.login_container .register_link h5 {
    color: black;
    transition: 0.2s;
    text-decoration: underline;
    text-underline-offset: 2px;
    margin: 0;
}

.login_container .register_link h5:hover {
    transform: scale(1.025);
    color: blue;
}

.login_container .form_itself {
    flex: 3 3 0;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    width: 100%;
    height: 2rem;
    color: black;
}

form legend {
    width: 100%;
    text-align: start;
}

form input:not(input[type='submit']) {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    margin: 10px;
}

form input[type='submit'] {
    color: black;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    margin: 40px;
    background-color: white;
    cursor: pointer;
    width: 100%;
    transition: 0.2s;
}

form input[type='submit']:hover {
    background-color: #E0E0E0;
}

