.main {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 2px black solid;
    border-radius: 100px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main img {
    width: 100%;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    min-height: fit-content;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: #FEFEFE;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}