.main {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    padding: 5px;
    box-sizing: border-box;
    transition: 0.2s;
}

.main:hover {
    box-shadow: 0 0 10px var(--shadow);
    transform: scale(1.05);
}

.main img {
    width: 100%;
}

.notifications {
    position: absolute;
    box-sizing: border-box  ;
    display: flex;
    flex-direction: column;
    gap: 5px;
    top: 100%;
    right: 0;
    width: 250px;
    min-height: 0;
    max-height: 50vh;
    padding: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow-y: overlay;
}

.notifications::-webkit-scrollbar {
    width: 7px;
    position: absolute;
}

.notifications::-webkit-scrollbar-track{
    background: rgba(0,0,0,0.05);
    margin: 5px;
    border-radius: 10px;
}

.notifications::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 10px;
    margin: 5px;
}

.notif {
    border-radius: 5px;
    padding: 5px;
    transition: 0.2s;
}

.notif:hover {
    transform: scale(1.025);
    background-color: var(--highlight);
}

.notif * {
    margin: 0;
}

.close {
    background-color: #E0E0E0;
    color: black;
}