.main {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 50vw;
    max-width: 700px;
    min-height: fit-content;
    overflow: scroll;
    gap: 10px;
    margin: 20px;
}

.main::-webkit-scrollbar {
    display: none;
}

.main .upperPanel {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    border: 2px #101010 solid;
    border-radius: 15px 15px 0px 0px; 
    padding: 10px; 
    background-color: #FEFEFE; 
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);
    color: black;
}

.main .lowerPanel {
    border: 2px #101010 solid; 
    border-radius: 0 0 15px 15px; 
    padding: 10px; 
    background-color: #FEFEFE; 
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
}