.main {
    position: relative;
}

.report {
    color: #ef233c;
    cursor: pointer;
    margin: 0;
    width: fit-content;
}

.report_panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.report_panel_sub_container {
    background-color: white;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    width: 500px;
    height: 400px;
}