.main {
    position: relative;
    color: black;
    z-index: 100;
}

.report {
    color: var(--hover);
    cursor: pointer;
    margin: 0;
    z-index: 1;
    text-align: end;
    transition: 0.2s;
}

.report:hover {
    color: #EF233C;
}

.report_panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.report_content * {
    margin: 5px;
}

.report_panel form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    color: black;
}

.report_panel form * {
    color: black;
    border-radius: 5px;
    width: 100%;
}

.report_panel_sub_container {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    height: 450px;
    overflow-y: scroll;
    position: relative;
}

.report_panel form input[type='submit'] {
    background-color: #F5F5F5;
}

.report_panel_sub_container::-webkit-scrollbar {
    width: 7px;
}

.report_panel_sub_container::-webkit-scrollbar-track{
    background: rgba(0,0,0,0.05);
    margin: 5px;
    border-radius: 10px;
}

.report_panel_sub_container::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 10px;
    margin: 5px;
}

.close {
    display: flex;
    justify-content: flex-end;
}

.report_panel_sub_container img {
    height: 15px;
    cursor: pointer;
}

.report_panel textarea {
    width: 100%;
    height: 4rem;
    background-color: #E0E0E0;
    resize: none;
    border: 1px black solid;
    transition: 0.2s;
}

.report_panel textarea:focus {
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}