.main {
    /* position: relative;
    place-items: center; */
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    background-color: #F2F4F7;
    padding-top: 80px;
}

.post_container {
    margin: 20px; 
    width: 50%; 
    color: #212529; 
    gap: 10px; 
    display: flex; 
    flex-direction: column;
}

.upper_panel {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    border: 2px #101010 solid;
    border-radius: 15px 15px 0px 0px; 
    padding: 10px; 
    background-color: #FEFEFE; 
    box-shadow: 0 5px 5px rgba(0,0,0,0.25)
}

.upper_panel .date{
    font-size: 0.75rem;
}

.content {
    border: 2px #101010 solid; 
    border-radius: 0 0 15px 15px; 
    padding: 10px; 
    background-color: #FEFEFE; 
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content * {
    margin: 0;
}

.content form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content form textarea{
    width: 80%;
}

.content form input[type='submit']{
    width: fit-content;
    padding: 5px;
    background-color: #535bf2;
}

.content form textarea{
    resize: none;
}

.comment_container{
    display: flex; 
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    max-height: 500px;
    overflow: scroll;
    background-color: #F0F2F5;
    padding: 10px;
    box-shadow: inset 0 5px 7.5px rgba(0,0,0,0.25);
    gap: 40px;
}

.comment_container::-webkit-scrollbar{
    display: none;
}

.comment_subcontainer {
    height: fit-content;
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment_subcontainer * {
    margin: 0;
}

.comment_item {
    width: fit-content;
    border: 1px black solid; 
    background-color: white;
    flex-shrink: 1;
    border-radius: 10px; 
    padding: 10px;

}

.post_panel {
    position: fixed;
    top: 100px;
    background: white;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    height: fit-content;
    width: 50vw;
    max-width: 1000px;
    z-index: 1000; 
    color: black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.post_panel h2 {
    margin: 0;
}

.post_panel h3 {
    font-weight: 500;
}

.post_panel form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post_panel input, .post_panel form textarea, .content input, .content textarea {
    color: black;
    border: 2px black solid;
    border-radius: 10px;
}

.post_panel form input[type='submit'] {
    width: 20%;
    min-width: fit-content;
    max-width: 30px;
    padding: 5px;
    background-color: #F0F2F5;
}

.post_panel form input:focus {
    outline: none;
    box-shadow: none;
}

.post_panel form input[type='text'], .content input[type='text'], .content textarea {
    font-size: 1rem;
    padding: 5px;
    width: 40%;
    background-color: #F0F2F5;
}

.post_panel textarea {
    width: 40%;
    resize: none;
    font-size: 1.1rem;
    padding: 5px;
    background-color: #F0F2F5;
}

.post_panel textarea:focus {
    outline: none;
    box-shadow: none;
}

.discover {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discover a {
    text-decoration: underline;
    color: black;
    transition: 0.3s;
}

.discover a:hover {
    color: #535bf2;
    transform: scale(1.05);
}

.trays {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    width: fit-content;
    border: 2px black solid;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5)
}