.main {
    /* position: relative;
    place-items: center; */
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    padding-top: 80px;
}

.post_container {
    margin: 20px; 
    width: 50%;
    max-width: 600px; 
    gap: 10px; 
    display: flex; 
    flex-direction: column;
}

.upper_panel {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    border: 3px solid;
    border-radius: 15px 15px 0px 0px; 
    padding: 20px; 
}

.upper_panel .date{
    font-size: 0.6rem;
    margin: 0;
}

.content {
    border: 2px #101010 solid; 
    border-radius: 0 0 15px 15px; 
    padding: 10px; 
    border: 3px solid;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content * {
    margin: 0;
}

.content form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content form textarea{
    width: 80%;
}

.content form input[type='submit']{
    width: fit-content;
    padding: 5px;
    background-color: #535bf2;
}

.content form textarea{
    resize: none;
}

.comment_container{
    display: flex; 
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    max-height: 400px;
    overflow: scroll;
    padding: 10px;
    box-shadow: inset 0 5px 7.5px rgba(0,0,0,0.25);
    gap: 40px;
}

.comment_container::-webkit-scrollbar{
    display: none;
}

.comment_subcontainer {
    height: fit-content;
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment_subcontainer * {
    margin: 0;
}

.comment_item {
    width: fit-content;
    border: 2px #0E0E0E solid; 
    background-color: white;
    flex-shrink: 1;
    border-radius: 10px; 
    padding: 10px;

}

.comment_options {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.post_panel {
    position: fixed;
    top: 100px;
    background: white;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    height: fit-content;
    width: 50vw;
    max-width: 1000px;
    z-index: 1000; 
    color: black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.usernames {
    cursor: pointer;
    margin: 0;
}

.comment_content {
    font-size: 0.8rem;
}

.post_content {
    font-size: 0.9rem;
}

.result_container {
    min-height: 0;
    max-height: 200px;
    overflow-y: scroll;
    /* height: 30vh; */
}

.result_container::-webkit-scrollbar {
    width: 7px;
}

.result_container::-webkit-scrollbar-track{
    background: rgba(0,0,0,0.05);
    margin: 5px;
    border-radius: 10px;
}

.result_container::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 10px;
    margin: 5px;
}

.post_panel h2 {
    margin: 0;
}

.post_panel h3 {
    font-weight: 500;
}

.post_panel form{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 10px;
}

.post_panel form input, .post_panel form textarea, .content input, .content textarea {
    color: black;
    border: 2px black solid;
    border-radius: 5px;
    width: 100%;
    margin: 0;
}

.post_panel form input[type='text'] {
    border: 2px black solid;
}

.post_panel form input[type='submit'] {
    width: 20%;
    min-width: fit-content;
    max-width: 30px;
    padding: 5px;
    background-color: #F0F2F5;
}

.post_panel form input:focus {
    outline: none;
    box-shadow: none;
}

.post_panel form input[type='text'], .content input[type='text'], .content textarea {
    font-size: 1rem;
    padding: 5px;
    width: 40%;
    background-color: #F0F2F5;
}

.post_panel textarea {
    width: 40%;
    resize: none;
    font-size: 1.1rem;
    padding: 5px;
    background-color: #F0F2F5;
}

.post_panel textarea:focus {
    outline: none;
    box-shadow: none;
}

.discover {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discover a {
    text-decoration: underline;
    color: black;
    transition: 0.3s;
}

.discover a:hover {
    color: #535bf2;
    transform: scale(1.05);
}

.trays {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    width: fit-content;
    border: 2px black solid;
    border-radius: 10px;
    box-shadow: 0 2px 2px var(--shadow);
    transition: 0.3s;
    overflow: hidden;
}

.trays:hover {
    box-shadow: 0 2px 2px var(--color);
}

.profile_detail {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.profile_detail::after {
    display: block;
    margin: 0 auto;
    content: "";
    width: 95%;
    height: 2px;
    background-color: var(--line);
    box-shadow: 0 3px 4px var(--shadow);
}

.profile_detail div {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px 0 20px;
    flex: 1 1 0;
}

.profile_detail div * {
    margin: 10px;
}

.username {
    color: #101010;
}

.username .report_btn {
    background-color: #ef233c;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}

.follow {
    color: rgba(10,10,10,0.5);
}

.follow * {
    font-weight: 400;
}

.main_nanaman {
    place-items: center;
}