.main {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
    color: black;
}

.report_details {
    box-sizing: border-box;
    background-color: white;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: 60vh;
    max-height: 500px;
    overflow: auto;
    gap: 20px;
}

.report_details div {
    padding: 10px;
}

.report_details div:not(.close_container) {
    border: 1px black solid;
    border-radius: 10px;
}

.report_details .contents {
    background-color: #e0e0e0;
}

.report_details::-webkit-scrollbar {
    width: 7px;
}

.report_details::-webkit-scrollbar-track{
    background: rgba(0,0,0,0.05);
    margin: 5px;
    border-radius: 10px;
}

.report_details::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 10px;
    margin: 5px;
}

.report_details form {
    border: 1px black solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    background-color: #e0e0e0;
}

.report_details form textarea {
    min-height: 3rem;
    width: 100%;
    resize: none;
    color: black;
}

.report_details form textarea,
.report_details form input {
    background-color: #f1f1f1;
    border-radius: 5px;
    transition: 0.2s;
}

.report_details form button {
    border: 2px black solid;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    background-color: #f1f1f1;
    color: black;
    transition: 0.2s;
}

.report_details .chkbox {
    width: 100%;
    display: flex;
    align-items: center;
}

.report_details .chkbox * {
    margin: 5px;
    width: fit-content;
}

.report_details .chkbox label {
    font-size: 15px;
}

.chkbox span {
    padding: 0;
    margin: 0;
    background-color: #E0E0E0;
    border: 2px black solid;
    border-radius: 5px;
    width: 15px;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.report_details input[type='checkbox'] {
    height: 15px;
    opacity: 0;
    margin: 0;
    padding: 0;
    /* background-color: red; */
}

.report_details input[type='checkbox']:checked {
    background-color: #78cb67;
    /* accent-color: #78cb67; */
    opacity: 1;
}

.report_details form button:hover {
    transform: scale(1.025);
    background-color: #d0d0d0;
}

.report_details form button:focus {
    background-color: #DFBEBE;
}

.report_details form label {
    width: 100%;
    text-align: start;
}

.close_container {
    display: flex;
    justify-content: flex-end;
}

.close {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
}

.close img {
    height: 15px;
}
/* 











.approve {
    background-color: #78cb67;
} */