.main {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.report_details {
    background-color: white;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    width: 500px;
    height: 400px;
}